/CMakeLists.txt
/cmake-build-debug/
/.idea
*.o
/cmake-build-wsl/
/cmake-build-wsl-coverage/
/cmake-build-debug---mingw/
/cmake-build-release-wsl/
/cmake-build-release---mingw/
/cmake-build-default-wsl/
/cmake-build-debug-wsl/
/src/.clangd
src/t2

.cache/clangd/index
vgcore.*
compile_commands.json
src/.cache/clangd/index

src/notes.txt
pedro.zip

pamlemos.zip
